
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/background.png');
  background-repeat: no-repeat; 
  background-position: center center;
  font-family: 'MedievalSharp', sans-serif;
  color: #ea9a06;
  
}

#root {
  margin: 0 auto;
  padding: 2rem;
} 

/* -- HEADER -- */ 

header h1
{
  text-align: center;
  position: relative;
  top: 50px;

  /* Add a border */
  text-shadow:
    -1px -1px 0 #996505,  
     1px -1px 0 #996505,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

header button
{ 
  position: relative;
  top: 20px;
  margin: auto;
  display: block;
}


.introHeader {
  display: flex;
  position: relative;
  top: 95px;
  flex-direction: column;
}

.introHeader img
{
  margin: auto;
  display: block;
  width: 250px;
  filter: drop-shadow(0px 8px 1px black)

}

.info
{
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #5a3b06;
  width: fit-content;
  max-width: 300px;
  padding: 10px 20px;
  border: 3px solid rgb(51, 23, 1);
  border-radius: 8px;
  filter: drop-shadow(0px 5px 0px black);
  font-size: 16px;
}

/* -- CONTAINER -- */ 

.container {
  gap: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
  height: 335px;
  padding: 30px;
  position: absolute;
  top: 105px;
  left: calc(50% - 600px / 2);
}

/* -- POTIONS -- */ 

.yellow 
{
  transform: scale(0.85);
}

.potion {
  margin: auto;
  cursor: pointer;
  width: 160px;
  filter: saturate(0.3) drop-shadow(0px 7px 1px rgb(0,0,0,.5));
  user-select: none;
  transition: filter 0.1s ease-in;
  opacity: 0; /* Initially hidden */
}

/* Smooth fade-in animation for potions  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Class to activate the fadeIn animation */
.potion.fade-in {
  animation: fadeIn 1s forwards;
}